.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.col-one-third {
  width: calc(100% / 3);
}

.col-two-third {
  width: calc(200% / 3);
}

.col-full {
  width: 100%;
}

.col-one-fourth {
  width: 25%;
}

section {
  margin-top: 1rem;
}

img {
  width: 100%;
}

body {
  font-family: sans-serif;
}
