.container {
  transition: color 10s;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border: 5px solid black;
  box-shadow: inset 1px 1px 100px black;
  background-image: repeating-linear-gradient(rgb(106, 106, 143), rgb(168, 168, 223));
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(168, 168, 233);
}

.padding-bottom-rem {
  padding-bottom: 1rem;
}

.column-full {
  width: 100%;
}

.dot-container {
  width: 25%;
}

.column-half {
  width: 50%;
}

.row {
  display: flex;
}

button {
  margin: 2rem;
  width: 2rem;
  height: 3rem;
  border: 0;
  background-color: rgb(0, 0, 0, 0);
}

.image-container {
  width: 40rem;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.margin-rem {
  margin: 1rem;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.fa-circle {
  transition: all 0.5s;
}

.fas {
  transition: all 0.5s;
  color: rgb(223, 85, 85);
}

.fas:hover {
  color: red;
}

.fas:active {
  color: white;
}

.far {
  color: rgb(255, 0, 0);
}

i {
  transform: scale(1.5);
}

@media only screen and (max-width: 900px) {
  i {
    transform: scale(2);
  }

  .container {
    width: 90%;
  }
}
